/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}