body {
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 10px;
}

.search-bar {
    position: relative;
    margin-bottom: 20px;
}

.search-bar input {
    border-radius: 50px;
    padding-left: 40px;
}

.search-bar .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-card {
    background-color: #0EBE7F;
}

.header-title {
    font-weight: 600;
    font-size: 250%;
    color: #ffffff;
}