
    @import url('https://fonts.cdnfonts.com/css/chaparral-pro?styles=15266');
    @import url(https://db.onlinewebfonts.com/c/5c0d13eb3af810e996bce6c3482f881c?family=Chaparral+Pro+Bold+Italic);

    * {
        padding: 0px !important;
        margin: 0px !important;
    }

    .certificate-container {
        position: relative;
        width: 210mm;
        height: 297mm;
        /* A4 full height */
        page-break-inside: avoid;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }


    .back-image {
        width: 210mm;
        height: 209.8mm;
    }

    .name-box {
        padding-left: 0mm !important;
    }

    .pv-number {
        position: absolute;
        left: <?= 210 - 30 ?>mm;
        top: 5mm
    }

    .certificate-user {
        font-family: "Chaparral Pro Bold Italic";
        width: calc(210mm - 100px);
        font-size: 35px;
        /*text-align: center !important;*/
        font-weight: 800 !important;
        position: absolute;
        top: 0 !important;
    }

    .qr-code {
        left: 16mm !important;
        top: 240mm !important;
        position: absolute;
        width: 20mm !important;
    }

    .sign {
        left: 150mm !important;
        top: 255mm !important;
        position: absolute;
        width: 40mm !important;
    }

    .sign-dot {
        left: 150mm !important;
        top: 260mm !important;
        position: absolute;
        width: 40mm !important;
    }

    .director {
        left: 163mm !important;
        top: 265mm !important;
        position: absolute;
        width: 40mm !important;
    }

    .print-date {
        left: 16mm !important;
        top: 262mm !important;
        position: absolute;
        font-family: 'Courier Prime', monospace;
    }

    .print-number {
        left: 16mm !important;
        top: 266mm !important;
        position: absolute;
        font-family: 'Courier Prime', monospace;
    }

    .certificate-number {
        left: 16mm !important;
        top: 270mm !important;
        position: absolute;
        font-family: 'Courier Prime', monospace;

    }

    .pv-number2 {
        left: 172mm !important;
        top: 281mm !important;
        position: absolute;
        font-family: 'Courier Prime', monospace;
    }

    .page-break {
        page-break-after: always;
    }


    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .certificate {
        /* background-image: url('cer.jpeg'); */
        width: 210mm;
        height: 297mm;
        display: flex;
        /* border: 1px solid black; */
        flex-direction: column;
        align-items: center;
        text-align: center;
        page-break-inside: avoid;
    }

    .certificate-title {
        position: absolute;
        font-size: 25px;
        font-weight: bold;
        color: #333;
        top: 90mm;
        letter-spacing: 1px;
    }

    .awarded-to {
        position: absolute;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333;
        top: 110mm;
    }

    .recipient-line {
        position: absolute;
        width: 180mm;
        height: 1px;
        top: 119mm;
        font-weight: 900;
        font-size: 25px;
    }

    .recognition-text {
        position: absolute;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333;
        top: 132mm;
        line-height: 1.3;
    }

    .course-line {
        position: absolute;
        width: 150mm;
        height: 1px;
        top: 150mm;
        font-weight: 900;
        font-size: 20px;
    }

    .offered-by {
        position: absolute;
        font-size: 20px;
        color: #333;
        top: 160mm;
    }

    .institution {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        top: 168mm;
    }

    .ceremony-details {
        position: absolute;
        font-size: 16px;
        color: #333;
        line-height: 1.4;
        top: 176mm;
    }

    @media print {
        body {
            margin: 0;
            padding: 0;
            background: white;
        }

        .certificate {
            background: white;
            margin: 0;
            box-shadow: none;
        }
    }


    